<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>


<div class=mid-background>
  <ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active ruby">Ruby</a>
      <div class="tab-content">
        <p>
            <%= link_to "Arttrackd", "https://github.com/arttrackd/arttrackd" %>
        </p>
        <p>
          <%= link_to "Blackjack Advisor", "https://github.com/BlakeStrickland/Blackjack_Advisor" %>
        </p>
        <p>
          <%= link_to "Weather", "https://github.com/BlakeStrickland/weather_report" %>
        </p>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link python">Python</a>
      <div class="tab-content">
        <p>
          <%= link_to "Monster", "https://github.com/BlakeStrickland/python_monster_game" %>
        </p>
        <p>
          <%= link_to "Games", "https://github.com/BlakeStrickland/python_games" %>
        </p>
      </div>
    </li>
    <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link frontend">Frontend</a>
    <div class="tab-content">
      <p> <%= link_to "To do list", "https://github.com/BlakeStrickland/to_do_list" %></p>
      <p> <%= link_to "Gradebook", "https://github.com/Nega-Gradebook/Gradebook" %>
    </div>
  </li>
  </ul>

  <div class="other6">
    <p>i</p>
    <p>i</p>
    <p>i</p>
    <p>i</p>
    <p>i</p>
    <p>i</p>
    <p>i</p>
    <p>i</p>
    <p>i</p>
    <p>i</p>



  </div>
</div>


<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="side-image-content">
    <h4>Find new ways to code</h4>
    <div class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"></div>
        <div class="hover-tile hover-tile-hidden">
          <h3><a href="https://www.codingame.com/clashofcode">Clash of Code!</a></h3>
            <ul>
              <li>Challenge your skills against random people across the world</li>
              <li>Improve your code with a multitude of different languages</li>
            </ul>
            <h3><a href="https://coderbyte.com/">Coderbyte!</a></h3>
            <ul>
              <li>Complete challenges, videos and tutorials</li>
            </ul>
          <h3><a href="https://codecombat.com/">Code Combat!</a></h3>
          <ul>
            <li>Complete game levels while practicing code</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Click for Modal</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <p class="modal-intro">
        <embed src="/assets/my-resume.pdf" class="resume"/>
      </p>
      <p class="modal-content"></p>
    </div>
  </div>
</div>
<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      First Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      Another Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
    </div>
    <div class="card-header">
      The Last Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>




<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <!-- <img src="triforce.jpeg"> -->
  </div>
    <ul>
      <li><a href="javascript:void(0)">Stricklandb02@gmail.com</a></li>
    </ul>

    <div class="footer-secondary-links">

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
        <i class="fa fa-github" aria-hidden="true"><%= link_to 'https://github.com/BlakeStrickland' %></i>
        </a></li>
      </ul>
    </div>
</footer>
