
<p><%= image_tag 'chalk-background.jpeg'%></p>

Ruby
<%= link_to "Arttrackd", "https://github.com/arttrackd/arttrackd" %>
<%= link_to "Blackjack Advisor", "https://github.com/BlakeStrickland/Blackjack_Advisor" %>
<%= link_to "Weather", "https://github.com/BlakeStrickland/weather_report" %>

Python
<%= link_to "Monster", "https://github.com/BlakeStrickland/python_monster_game" %>
<%= link_to "Games", "https://github.com/BlakeStrickland/python_games" %>




<p>
StricklandB02@gmail.com
</p>
<p>
https://github.com/BlakeStrickland
</p>
